              <div tabindex="0" style="padding-left: 40px" class="menuLang">
              <!--<span>Languages</span> -->
                <div class="menuLang-dropdown">
                    <a class="active" href="#">{{ site.languageNames[site.lang] }}</a>
                    {% for lang in site.languageNames %}
                    {% if lang[0] == site.lang %} {% continue %} {% endif %}
                    {% if page.namespace %}
                    <a href="{% tl {{ page.namespace }} {{ lang[0] }} %}">{{ lang[1] }}</a>
                    {% else %}
                    <a href="{{ site.baseurl_root }}/{{ lang[0] }}/">{{ lang[1] }}</a>
                    {% endif %}
                    {% endfor %}
                </div>
              </div>
