<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{% t page.title %} – {% endif %}{{ site.name }} – {% t site.description %}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {% t site.description %}" href="{{ site.baseurl }}/feed.xml" />
    {% include favicon.html %}
  <!-- CollaNoteWiki version:1.1 -->
  </head>

  <body>
    <div class="wrapper-masthead">
      <header class="masthead clearfix">
        <div class="container4header clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">{% t site.description %} </p>
          </div>
      </div>
      <div class="container4navi">
        <div class="nav">
          <a href="{{ site.baseurl_root }}{% tl FAQ %}">{% t NavigationBar.FAQ %}</a>
          <a href="{{ site.baseurl_root }}{% tl Release-Notes %}">{% t NavigationBar.ReleaseNotes %}</a>
          <a href="{{ site.baseurl_root }}{% tl Cute-Moments %}">{% t NavigationBar.CuteMoments %}</a>
          <a href="{{ site.baseurl }}/about">{% t NavigationBar.About %}</a>
          <!--Languages switchter -->
              {% include language-switcher.html %}
          <!--Google Custom Search -->
              {% include google-custom-search.html %}

        </div>
      </div>
      </header>
    </div>
    <div id="main" role="main" class="container4post">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
